.about{
    display: flex;
    flex-direction: column;
}

.aboutme{
    background-color: #1f2937;
}

#atharva{
    color: white;
}

.about p {
    text-align: justify;
    margin-bottom: 15px;
}

.about .h3 {
    text-align: justify;
    font-weight: 500;
    font-size: 30px;
    margin: 0 !important;
    display: inline;
}
.about .h4 {
    text-align: justify;
    font-weight: 500;
    font-size: 19px;
    margin: 0;
    margin-right: 60px;
    display: inline;
}
.punchline-text{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
#punchline{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}
.punchline{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.punchline img{
    border-radius: 20px;
    max-width: 280px;
    height: auto;
}

.about .resume {
    text-decoration: none;
    background-color: #fec195;
    height: auto;
    width: auto;
    color: rgb(0, 0, 0);
    padding: 5px 10px;
    border-radius: 10px;
    margin-top: 15px;
    justify-self: center;
    align-self: flex-start;
    font-weight: 600;
    font-size: large;
    border: 2px solid #fec195;
    box-shadow: 0px 0px 5px 1px rgb(90, 90, 90);
    transition: all 0.3s ease;
    margin-right:10px;
}

.about .resume:hover {
    background-color: rgba(80, 80, 80, 0);
    color: #fec195;
}

.about #contacts{
    background-color: #2f95de;
    border: 2px solid #2f95de;
    color: white;
}

.about #contacts:hover {
    background-color: rgba(80, 80, 80, 0);
    color: #2f95de;
}

.about .buttons{
    display: flex;
    align-content: flex-start;
    margin: 10px 0px;
}