@media only screen and (max-width: 768px) {
    .projects .card {
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
    }

    .projects .card img {
        max-width: 100%;
    }

    body:nth-child(2) {
        position: relative !important;
        top: 115px !important;
        margin-bottom: 100px;
    }

    .navbar img {
        width: 80px;
        height: 80px;
    }

    .navbar h1 {
        font-size: 2.2rem;
    }

    .social-icons {
        display: inline;
    }

    .skills-grid {
        justify-items: center;
        column-gap: 0;
    }

    header.shrink {
        gap: 3px;
    }

    .about .resume {
        align-self: center;
    }

    .hide_in_mobile {
        display: none;
    }

    .show_only_in_mobile {
        display: unset;
    }

    .punchline {
        flex-direction: column-reverse;
    }

    .punchline img {
        width: 100%;
        height: auto;
        max-width: 500px;
        align-self: center;
    }

    .punchline-text .h4 {
        margin: 0;
        margin-bottom: 15px;
    }

    .certificates {
        height: 400px;
    }
}