* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  background: #2e2e2e;
  color: #e0e0e0;
}

body:nth-child(2){
  position: relative;
  top : 70px; 
}

.section {
  padding: 3rem 2rem;
  max-width: 900px;
  margin: auto;
}

.section h2 {
  font-size: 2rem;
  margin-bottom: 1rem;
  color: #63b3ed;
}
h2, h1, h3{
  font-weight: 500;
}