.projects p {
    text-align: justify;
}

.projects ul {
    padding: 10px;
    margin: 0px 10px;
}

.projects h3{
    font-weight: 600;
}

.projects .card{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 15px;
    background-color: var(--secondary-color);
    margin-bottom: 1rem;
    /* padding: 1rem; */
    border-radius: 0.75rem;
    backdrop-filter: blur(4px);
    box-shadow: 0 4px 12px #00000040;
}
.projects .card .txt{
    margin: 10px 20px;
}
.projects .card img {
    height: auto;
    max-width: 100%;
    object-fit: cover;
    margin: 0;
    border-top-right-radius: 0.75rem;
    border-top-left-radius: 0.75rem;
}

.projects .prj-btn {
    text-decoration: none;
    background-color: var(--btn-color);
    color: #ffffff;
    border: 2px solid var(--btn-color);
    border-radius: 5px;
    padding: 6px 10px ;
    margin-top: 15px !important;
    /* align-self: center; */
    transition: all 0.2s ease;
}

.projects .prj-btn:hover{
    color: var(--btn-color);
    background-color: #00000000;
}

.projects .pbtn{
    display: flex;
    gap:10px;
    justify-content: center;
    flex-wrap: wrap-reverse;
}