.skills-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    gap: 1.5rem;
    margin-top: 1.5rem;
}

.skills-grid img {
    width: 60px;
    height: 60px;
    object-fit: contain;
    padding: 0.5rem;
    background-color: var(--skills-bg);
    border-radius: 0.75rem;
    box-shadow: 0 4px 12px #00000040;
}

.skills .tabs{
    display: flex;
    width: 100%;
    justify-content: center;
    gap: 10px;
}
.skills .tabs .tab{
    text-decoration: none;
    color: var(--btn-color);
    background-color: #00000000;
    border: 2px solid var(--btn-color);
    border-radius: 5px;
    padding: 6px 10px ;
    margin-top: 15px !important;
    /* align-self: center; */
    transition: all 0.2s ease;
}
.skills .tabs .tab:hover{
    background-color: var(--btn-color);
    color: #ffffff;
    
}