.skills-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    gap: 1.5rem;
    margin-top: 1.5rem;
}

.skills-grid img {
    width: 60px;
    height: 60px;
    object-fit: contain;
    padding: 0.5rem;
    background-color: var(--skills-bg);
    border-radius: 0.75rem;
    box-shadow: 0 4px 12px #00000040;
}