* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  background: #0d1117;
  color: #e0e0e0;
}

body:nth-child(2){
  position: relative;
  top : 70px; 
}

.show_only_in_mobile{
  display: none;
}

.section {
  padding: 3rem 2rem;
  max-width: 800px;
  margin: auto;
}

.section h2 {
  font-size: 2rem;
  margin-bottom: 1rem;
  color: #63b3ed;
}
.section h1 {
  font-size: 2rem;
  margin-bottom: 1rem;
  color: #63b3ed;
  font-size: 40px;
}
h2, h1, h3{
  font-weight: 500;
}