:root {
    --bg-color: #0d1117;
    --secondary-color: #1f2937;

    --header-bg: #28282866;
    --sec-header-bg: #28282880;  

    --accent-color: #63b3ed;
    --sec-accent-color: #90cdf4;

    --text-color: #e0e0e0;
    --sec-text-color: #a0aec0;

    --btn-color: #0097b2;

    --skills-bg: #ffffff0d;

    /* --card-bg: #ffffff;
    --section-bg: #ffffff;*/
}